{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete note</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
    <div class="container">
        <div class="new-note">
            <header>
                <h1>Delete Note</h1>
            </header>
            <section class="actions">
                <a href="{% url "noteapp:show" %}">Back</a>
            </section>
            <form action="" method="POST">
                {% csrf_token %}
                <h1>Are you sure you want to delete data?</h1>
                <br>
                <button type="submit">Yes</button>
                {% comment %} <a href="{% url "noteapp:delete" data.id %}">Yes</a> {% endcomment %}
                {% comment %} <a href="{% url "noteapp:show" %}">
                    <button>No</button>
                </a> {% endcomment %}
            </form>
            
        </div>
    
    </div>
    
</body>
</html>